name: Build and Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      backend: ${{ steps.filter.outputs.backend }}
      frontend: ${{ steps.filter.outputs.frontend }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check changes in repository
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            backend:
              - 'backend/Api/**'
            frontend:
              - 'frontend/**'

  frontend:
    # needs: changes
    # if: needs.changes.outputs.frontend == 'true'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "22"

      - name: Install Dependencies
        working-directory: frontend
        run: npm install

      - name: Build
        working-directory: frontend
        run: |
          sed -e "s|{{auth0_domain}}|$AUTH0_DOMAIN|" \
              -e "s|{{auth0_client_id}}|$AUTH0_CLIENT_ID|" \
              -e "s|{{auth0_audience}}|$AUTH0_AUDIENCE|" \
              -e "s|{{api_url}}|$API_URL|" .env > .env.production
          cat .env.production
          npm run build
        env:
          AUTH0_DOMAIN: ${{ secrets.AUTH0_DOMAIN }}
          AUTH0_CLIENT_ID: ${{ secrets.AUTH0_CLIENT_ID }}
          AUTH0_AUDIENCE: ${{ secrets.AUTH0_AUDIENCE }}
          API_URL: ${{ secrets.API_URL }}

      - name: Deploy Front End
        working-directory: frontend
        run: |
          git clone https://$PAT@github.com/Stelele/njeremoto-dashboard-build.git out
          rm -r out/*
          cp -R dist/* out/
          cd out
          cp index.html 404.html
          git config --global user.email "giftmugweni@gmail.com"
          git config --global user.name "stelele"
          git add .
          git commit -m "Deploy build files"
          git push origin $DEPLOY_BRANCH
        env:
          DEPLOY_BRANCH: main
          PAT: ${{ secrets.PAT }}

  backend:
    needs: changes
    if: needs.changes.outputs.backend == 'true'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend/Api
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/erpnext-dashboard:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/erpnext-dashboard:${{ github.sha }}
